<a href="https://colab.research.google.com/github/maria2021831011/machine_learning/blob/main/2_3_List_Tupple_Set_Dictiory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#type of object in python
#1.immutable
#2.muttable


#immutable
#1.int
#2.float
#3.string
#4.bool
#5.tupple

#muttable
#1.list
#2.dictionary
#3.set

#list should be multiple and 3rd bracket

In [1]:
l=[1,2,3,4,"hi",bool]
print(l)

[1, 2, 3, 4, 'hi', <class 'bool'>]

#list can be change

In [2]:
l=[1,2,3,4,5,3]
l.append(8)
print(l)

[1, 2, 3, 4, 5, 3, 8]

#list allow multiple and ind and size

In [3]:
l=[1,2,3,4,5,3]
print(l[0])
print(len(l))
k=[1,1,1,1,]
print(k)

1
6
[1, 1, 1, 1]

#list insert delete add

In [4]:
l1=[]
print(l1)
l1.append(1)
print(l1)
del l1[0]
print(l1)
s=[1,2,3]
p=[4,5,6]
d=s+p
print(d)

[]
[1]
[]
[1, 2, 3, 4, 5, 6]

#tupple allow multiple use 1st brac convert from list

In [6]:
k=(1,2,3,"jij")
print(k)
list=[1,2,9]
print(list)
l=tuple(list)
print(l)

(1, 2, 3, 'jij')
[1, 2, 9]
(1, 2, 9)

#tupple not use append and index use

In [7]:
T=(1,2,3,3)
print(T[0])
print(len(T))

1
4

# set not use index and use 2nd brac

In [9]:
s={1,2,3}
print(s)
#convert list to set and unique val
l=[1,2,3,4]
s=set(l)
print(s)
s={1,2,3,4,5,5,5,5}

print(s)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5}

#dictionary
#not multiple value& use key value

In [10]:
d={'name':'maria','age':'23'}
print(d)
print(d['name'])

{'name': 'maria', 'age': '23'}
maria